<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$$DOCUMENT_TITLE$$</title> <!--Denne bliver erstattet, når createPage-funktionen kaldes i render.js -->
    


    <link rel="stylesheet" href="/pages/frontpage/frontpage.css"></style>
    <link rel="stylesheet" href="/assets/global/global.css">
</head>
<body>

    <nav id="nav">
        <a href="/"><img class="logo-image" src="/assets/logo.png" alt="logo"></a>
        <a href="/CV">CV</a>
        <a href="/projects">Projekter</a>
        <a href="/contact">Kontakt</a>
    </nav>

    <main>